/* Sizing for profile picture */
#page-top .masthead .img-fluid{
    width: 25%;
}

/* Sizes portfolio modal */
#page-top .portfolio-modal{
    width: 80%;
    margin: 0 auto;
}

/* Adds spacing to content within footer */
#page-top .footer{
    padding-top: 3rem;
    padding-bottom: 0;
}

/* Adds space for elements on second row of footer */
#page-top .footer .container .row:nth-child(2){
    margin-top: 3%;
    margin-right: 1%;
}
/* Center aligns about section text */
#page-top .bg-primary .row{
    text-align: center;
}

/* Adds space between about section and skills section */
#page-top .bg-primary .container h2:nth-of-type(2){
    margin-top: 7%;
}

/* Sizes the dev icons */
#page-top .bg-primary .container .dev-icon > img{
    height: 100px;
    width: 100px;
}

/* Adds spacing between dev icon rows */
#page-top .bg-primary .container .row-space{
    margin-bottom: 5%;
}

/* Spaces out the view resume button */
#page-top .bg-primary .container .text-center a{
    margin-top: 2.0rem !important;
}

/* Aligns contact icons in contact icons */
#page-top #contact .container .row .contact-icon{
    display: inline-block;
}

/* Aligns contact details in contact section */
#page-top #contact .container .row .contact-details{
    display: inline-block;
    vertical-align: middle;
}

/* Aligns all contact items evenly */
#page-top #contact .container .row{
    justify-content: space-between;
}

/* Adds space between icon and content */
#page-top #contact .container .row .contact-details p{
    margin-left: 10px;
    font-weight: bold;
}

/* Adds color to contact icons */
#page-top #contact .container .row .contact-icon{
    color: #EE6C4D;
}

/* Adds color to contact text links */
#page-top #contact .container .row .contact-details a{
    color: black;
    font-weight: bold;
}

/* Aligns links in project modal */
#page-top .mfp-container .mfp-content .row .modal-links{
    display: flex;
    justify-content: left;
    margin: 20px 0 0 0;
}

/* Changes color of project modal links */
#page-top .mfp-container .mfp-content .row .modal-links a{ 
    color:#348AA7;
    font-weight: bold;
}

/* Adds space to project modal links */
#page-top .mfp-container .mfp-content .row .modal-links .spacer{ 
    margin: 0 20px 10px 20px;
}

/* Resize list to table demo video */
#page-top .mfp-container #portfolio-modal-1 .container .demo-video video{
    width: 100%;
}

/* Aligns text in list to table modal modal */
#page-top .mfp-container #portfolio-modal-1 .container .row .col-lg-8 .mb-3{
    text-align: left;
}

/* Aligns ul text in list to table modal */
#page-top .mfp-container #portfolio-modal-1 .container .row .col-lg-8 ul{
    text-align: left;
    margin-bottom: 1.5rem;
}

/* Align portfolio project boxes evenly */
#page-top #portfolio .portfolio .row{
    justify-content: space-evenly;
}

/* Resizes portfolio project boxes */
#page-top #portfolio .row .box-size{
    max-width: 32%;
}